*{
  font-family: 'Times New Roman', Times, serif;
  padding: 2px;
  margin: 0px;
  color: black;
}

body{
  background-color: dodgerblue;
}

hr{
  padding: 0px;
  background-color: black;
  border: 1px solid black;
}

input {
    padding: 3px ;
    padding-left: 5px;
    width: calc(100% - 20%);
    margin: 5px auto;
}

.box-Gifs{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-bottom: 35px ;
}

.gif-cpntent{
  align-content:center ;
  border-radius: 10px;
  border: 1px solid gray;
  display: flex;
  flex-grow: initial;
  flex-wrap: wrap; 
  justify-items: center;
  margin: 5px 10px;
  overflow: hidden;
  max-width: 100px ;
  max-height: 100x;
  background-color: rgb(62, 90, 252);
}


.gif-cpntent p {
  padding: 5px;
  text-align: center;
}

.gif-cpntent img {
   max-width: 100px;
   max-height: 100px;
   min-width: 100px;
   min-height: 100px;

}